# ignore build files
*.o
*.so
*.la

# ignore extension files
*.shell-extension
*.shell-extension.zip

# ignore logs files
*.log

# ignore other files
CHANGES_AND_LIMITATIONS.md

# ignore test file
test-menu.py

# ignore SKILL directory and files
SKILLS

# ignore compiled schema
schemas/gschemas.compiled

# AUDIT files
AUDIT.md
AUDIT-1.md